---
- name: Check if network provisioning enabled
  hosts: localhost
  gather_facts: no
  sudo: no
  tasks:
      - group_by: key=net_prov
        when: provisioner.network.dynamic_net is defined and provisioner.network.dynamic_net

- name: Check the nodes which need a floating IP from a specific network
  hosts: localhost
  gather_facts: no
  sudo: no
  tasks:
      - group_by: key=net_add_floatingip
        when: provisioner.network.public_net_name is defined

- name: Create networks
  hosts: net_prov
  gather_facts: no
  tasks:
    - debug: var="{{ provisioner.network.network_list }}"
    - name: Create networks
      os_network:
          state: present
          auth:
              auth_url: "{{ provisioner.auth_url }}"
              username: "{{ provisioner.username }}"
              password: "{{ provisioner.password }}"
              project_name: "{{ provisioner.tenant_name }}"
          name: "{{ item }}"
      register: "networks"
      with_items: "{{ provisioner.network.network_list.values()|map(attribute='name')|list }}"

- name: Create subnets
  hosts: net_prov
  gather_facts: no
  tasks:
    - name: Create subnet for each network
      os_subnet:
          auth:
              auth_url: "{{ provisioner.auth_url }}"
              username: "{{ provisioner.username }}"
              password: "{{ provisioner.password }}"
              project_name: "{{ provisioner.tenant_name }}"
          name: "{{ item.subnet_name }}"
          cidr: "{{ item.cidr }}"
          network_name: "{{ item.name }}"
          enable_dhcp: "{{ item.enable_dhcp | default('True') }}"
#          dns_nameservers: "{{ item.dns_nameservers | join(',') | default('null') }}"
          dns_nameservers: "{{ item.dns_nameservers.values() | default(omit) }}"
          allocation_pool_start: "{{ item.allocation_pool_start | default(omit) }}"
          allocation_pool_end: "{{ item.allocation_pool_end | default(omit) }}"
      register: "subnets"
      with_items: provisioner.network.network_list.values()


- name: Create and configure router
  hosts: net_prov
  tasks:
    - name: Create router
      os_router:
          auth:
              auth_url: "{{ provisioner.auth_url }}"
              username: "{{ provisioner.username }}"
              password: "{{ provisioner.password }}"
              project_name: "{{ provisioner.tenant_name }}"
          name: "{{ provisioner.network.router.name }}"
          network: "{{ provisioner.network.public_net_name }}"
          interfaces:
              - "{{ provisioner['network']['network_list']['external']['subnet_name'] }}"
              - "{{ provisioner['network']['network_list']['management']['subnet_name'] }}"
      register: router

- name: Create nodes - OpenStack
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Get static networks from settings
      when: networks is not defined
      set_fact:
          networks:
              results: "{{ provisioner.network.network_list.values() }}"

    - name: Create nodes
      os_server:
          state: present
          auth:
              auth_url: "{{ provisioner.auth_url }}"
              username: "{{ provisioner.username }}"
              password: "{{ provisioner.password }}"
              project_name: "{{ provisioner.tenant_name }}"
          name: "{{ item.value.name }}"
          image: "{{ item.value.image_id }}"
          key_name: "{{ provisioner.key_name }}"
          flavor: "{{ item.value.flavor_id }}"
          nics:
            - net-id: "{{ networks.results.0.id }}"
            - net-id: "{{ networks.results.1.id }}"
            - net-id: "{{ networks.results.2.id }}"
          config_drive: True
          auto_floating_ip: "{{ provisioner.network.use_floating_ip | default(false) }}"
          timeout: 180
          wait: yes
      with_dict: provisioner.nodes
      register: created_nodes

    - name: Add created hosts to host list
      add_host:
        name: "{{ item.item.value.name }}"
        groups: "{{ item.item.value.groups if item.item.value.groups is string else item.item.value.groups| join(',') }}"
        ansible_fqdn: "{{ item.item.value.hostname }}"
        ansible_user: "{{ item.item.value.remote_user }}"
        ansible_ssh_private_key_file: "{{ provisioner.key_file }}"
        ansible_host: "{%- if item.interface_ip is defined %}{{ item.interface_ip }}{%- else %}{{ item.openstack.addresses[provisioner.network.network_list.management.name][0].addr }}{% endif %}"
        eth1_interface_ip: "{{ item.openstack.addresses[provisioner.network.network_list.data.name][0].addr }}"
      with_items: created_nodes.results

- name: Add Floating IPs
  hosts: net_add_floatingip
  tasks:
    - name: assign floating ip to instances
      quantum_floating_ip:
          auth_url: "{{ provisioner.auth_url }}"
          login_username: "{{ provisioner.username }}"
          login_password: "{{ provisioner.password }}"
          login_tenant_name: "{{ provisioner.tenant_name }}"
          instance_name: "{{ item.value.name }}"
          network_name: "{{ provisioner.network.public_net_name }}"
          internal_network_name: "{{ provisioner['network']['network_list']['management']['name'] }}"
      with_dict: provisioner.nodes
      register: floatingip

    - name: Add Neutron Floating IPs to host list
      add_host:
        name: "{{ item.item.value.name }}"
        ansible_host: "{{ item.public_ip }}"
      with_items: floatingip.results
      when: floatingip

- name: wait for hosts to get reachable
  hosts: openstack_nodes
  gather_facts: no
  max_fail_percentage: 0
  sudo: no
  tasks:
    - name: Wait for Reachable Nodes
      wait_for:
          host: "{{ ansible_host }}"
          port: 22
          search_regex: OpenSSH
          timeout: 600
      delegate_to: localhost

- name: Ensure hostname is configured properly
  hosts: openstack_nodes
  gather_facts: yes
  sudo: yes
  roles:
    - system/set_hostname

- name: Update network interfaces on nodes - OpenStack
  hosts: openstack_nodes
  gather_facts: yes
  max_fail_percentage: 0
  sudo: yes
  tasks:
    - name: updating host short name
      set_fact: inventory_hostname_short="{{ inventory_hostname.split('-')|last }}"

    - name: Setup networking (interfaces)
      template:
            src: ../templates/ifcfg-interface.j2
            dest: /etc/sysconfig/network-scripts/ifcfg-{{ item.value.label }}
            owner: root
            group: root
            mode: 644
      with_dict:
          provisioner.nodes[inventory_hostname_short].network.interfaces
      register: update_ifcfgs

    #TODO(tkammer): write this better by fixing the upstream module to provide the private IP properly
    - name: update IP address of eth1 interface
      lineinfile:
          dest: /etc/sysconfig/network-scripts/ifcfg-eth1
          regexp: IPADDR=
          line: "IPADDR={{ hostvars[inventory_hostname].eth1_interface_ip }}"
      register: update_ifcfg1

    - name: reboot and wait for ssh
      when: update_ifcfgs|changed or update_ifcfg1|changed
      delegate_to: localhost
      sudo: no
      wait_for_ssh:
          reboot_first: "true"
          # delegate_to changes the context for ansible_vars
          host: "{{ hostvars[inventory_hostname].ansible_host }}"
          user: "{{ hostvars[inventory_hostname].ansible_user }}"
          key: "{{ hostvars[inventory_hostname].ansible_ssh_private_key_file }}"
