[defaults]
host_key_checking = False

#library = library:$VIRTUAL_ENV/lib/python2.7/site-packages/ansible/modules

gathering = explicitly
pipelining=True
timeout = 30

handlers_path = ./handlers
lookup_plugins = ./plugins/lookups
callback_plugins = ./plugins/callbacks