[project]
	description = Ansible framework for setting up OpenStack test environments
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tal Kammer (tkammer)
[access "refs/for/refs/*"]
	read = group user/Tal Kammer (tkammer)
	push = group user/Tal Kammer (tkammer)
	label-Code-Review = -2..+2 group user/Tal Kammer (tkammer)
	label-Verified = -1..+1 group user/Tal Kammer (tkammer)
	rebase = group user/Tal Kammer (tkammer)
	removeReviewer = group user/Tal Kammer (tkammer)
	submit = group user/Tal Kammer (tkammer)
[access "refs/heads/*"]
	read = group user/Tal Kammer (tkammer)
	create = group user/Tal Kammer (tkammer)
	push = +force group user/Tal Kammer (tkammer)
	pushMerge = group user/Tal Kammer (tkammer)
[access "refs/tags/*"]
	push = +force group user/Tal Kammer (tkammer)
	pushTag = group user/Tal Kammer (tkammer)
	pushSignedTag = group user/Tal Kammer (tkammer)
