[project]
	description = Ansible framework for setting up OpenStack test environments
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tal Kammer (tkammer)
	owner = group user/yfried-redhat
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/Tal Kammer (tkammer)
	read = group user/yfried-redhat
	push = group rdo-ci-group
	push = group user/Tal Kammer (tkammer)
	push = group user/yfried-redhat
	label-Code-Review = -2..+2 group user/Tal Kammer (tkammer)
	label-Code-Review = -2..+2 group user/yfried-redhat
	label-Code-Review = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/Tal Kammer (tkammer)
	label-Verified = -1..+1 group user/yfried-redhat
	rebase = group rdo-ci-group
	rebase = group user/Tal Kammer (tkammer)
	rebase = group user/yfried-redhat
	removeReviewer = group user/Tal Kammer (tkammer)
	removeReviewer = group user/yfried-redhat
	submit = group user/Tal Kammer (tkammer)
	submit = group user/yfried-redhat
[access "refs/heads/*"]
	read = group rdo-ci-group
	read = group user/Tal Kammer (tkammer)
	read = group user/yfried-redhat
	create = group rdo-ci-group
	create = group user/Tal Kammer (tkammer)
	create = group user/yfried-redhat
	push = group rdo-ci-group
	push = +force group user/Tal Kammer (tkammer)
	push = group user/yfried-redhat
	pushMerge = group user/Tal Kammer (tkammer)
	pushMerge = group user/yfried-redhat
[access "refs/tags/*"]
	push = +force group user/Tal Kammer (tkammer)
	push = group user/yfried-redhat
	pushTag = group user/Tal Kammer (tkammer)
	pushTag = group user/yfried-redhat
	pushSignedTag = group user/Tal Kammer (tkammer)
	pushSignedTag = group user/yfried-redhat
