{% for host in groups.openstack_nodes %}
{{ hostvars[host].ansible_host }} ansible_user=fedora
{% endfor %}

[slave]
{% for host in groups.openstack_nodes %}
{{ hostvars[host].ansible_host }} ansible_user=fedora
{% endfor %}

